{
  "presets": [
    "react-app",
    [
      "env",
      {
        "targets": {
          "browsers": "> 2%"
        }
      }
    ]
  ],
  "plugins": [
    ["import", { "libraryName": "antd-mobile", "style": "css" }]
  ]
}
